@page "/list"
@inject ITimeEntryService TimeEntryService 
@inject ClientTimeEntryService ClientTimeEntryService 
@rendermode InteractiveServer

<PageTitle>Entradas de tiempo</PageTitle>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="mb-4 text-center text-primary">@DateTime.UtcNow.Date.Day/@DateTime.UtcNow.Date.Month/@DateTime.UtcNow.Date.Year</h3>

            <h4 class="mb-4 text-center">
                <strong>Tiempo registrado del día:</strong> @DailyTime() 
                <TimerApp.Components.Shared.CreateTimeEntryButton />
            </h4>
        
            @if (timeEntries == null)
            {
                <div class="text-center text-muted">
                    <span>Cargando...</span>
                </div>
            }
            else if (timeEntries.Count() == 0)
            {
                <div class="alert alert-warning text-center" role="alert">
                    No hay ninguna entrada registrada para el día de hoy.
                </div>
                       }
            else
            {
                <ul class="list-group">
                    @foreach (TimeEntry timeEntry in timeEntries)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>@timeEntry.DateTime.ToString("HH:mm dd/MM/yyyy")</strong><br>
                                <span class="text-muted">Categoría: @timeEntry.Category</span><br>
                                <span>Duración: @timeEntry.Minutes min</span><br>
                                <span class="text-muted">ID: @timeEntry.Id</span>
                            </div>

                            <div class="d-flex gap-2">
                                <button class="btn btn-danger" @onclick="() => DeleteTimeEntry(timeEntry.Id)">
                                    <i class="bi bi-trash"></i> Eliminar
                                </button>
                                <TimerApp.Components.Shared.EditTimeEntryButton Id="@timeEntry.Id" />
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

@code {
    List<TimeEntry>? timeEntries = null;

    protected override async Task OnInitializedAsync()
    {
        timeEntries = await ClientTimeEntryService.GetDailyTimeEntries();
    }

    async Task DeleteTimeEntry(int id)
    {
        bool isDeleted = await ClientTimeEntryService.DeleteTimeEntry(id);

        if (isDeleted)
        {
            timeEntries = await ClientTimeEntryService.GetDailyTimeEntries();
        }
    }

    private int DailyTime()
    {
        int contador = 0; 
        if(timeEntries != null)
        {
            foreach(TimeEntry t in timeEntries)
            {
                contador += t.Minutes; 
            }
            return contador; 
        }

        return 0;
    }
}
